body {
    position: relative;
    text-align: center;
}

#form {
    margin-top: 50px;
    border: 2px solid lightblue;
    border-radius: 15px;
    width: 500px;
}

#form > * {
    margin: 20px;
}

#result {
    font-size: larger;
}

label {
    display: block;
    margin: 10px;
    font-size: large;
}

input {
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;
    width: 50px;
    height: 20px;
    margin-left: 20px;
}

select {
    border-radius: 15px;
    border: 1px solid black;
    height: 30px;
}

button {
    height: 30px;
    border: 1px solid green;
    border-radius: 15px;
    width: 100px;
    background-color: green;
    color: white;
    transition: width 1s ease;
}

button:hover {
    cursor: pointer;
    width: 130px;
}

h1 {
    margin-top: 50px;
}